# Copie este arquivo para .env e preencha com seus valores reais

WEATHER_API_KEY=sua_chave_da_weatherapi_aqui

API_URL=https://api.weatherapi.com/v1/forecast.json?key=
API_URL_NOW=https://api.weatherapi.com/v1/current.json?key=SUA_CHAVE_AQUI&q=
API_URL_COORDINATION=https://api.weatherapi.com/v1/search.json?key=SUA_CHAVE_AQUI&q=

HOST_POSTGRES=localhost:5432
NAME_POSTGRES=Previsao_Do_Tempo
USERNAME_POSTGRES=postgres
PASSWORD_POSTGRES=sua_senha_aqui
POSTGRES_DB=meu_banco

